<section id="categoryIndex">
  {{{breadcrumbs}}}
  <ul class="subcategories">
    {{#each subcategories}}
      <li>
        <a href="{{href}}" class="link-bar">{{title}} <span class="count">{{count}}</span></a>
      </li>
    {{/each}}
  </ul>
</section>
