{{> bb_vid}}
<header id="bbCheckoutHeader">
    <div class="header-main-container">
        <a href="/" class="logo-wrapper">
            <span class="logo" ></span>
        </a>
        <a href="{{header.cart.href}}" class="cart-wrapper">
            <span class="cart"></span>
        </a>
    </div>
</header>