{{> bb_vid}}
<header id="bb-global-header">
  <div class="header-main-container">
    <a href="" id="bb-slide-menu-btn" class="menu-wrapper">
      <span class="menu"></span>
    </a>
    <a href="{{header.logoHREF}}" class="logo"></a>
    <a href="{{header.cart.href}}" class="cart-wrapper">
      <span class="cart"></span>
    </a>
  </div>
  <div class="header-search-container header-search">
    {{{searchHTML}}}
  </div>
</header>
{{> global-cms}}