$base-font-size = 62.5%;
$font-size = 1.3rem;
$font-family = Arial, Helvetica, sans-serif;

$body-background = #fff;
$font-color = #000;

$primary-color = #00a7df;
$secondary-color = #e9e9e9;
$tertiary-color = #9e9e9e;

$promo-color = #d80000;
$error-color = $promo-color;

$button-background = #f3500f;

$field-height = 32px;
$field-background = $body-background;

$link-bar-height = 48px;

$accordion-background = $body-background;
$accordion-border-color = #d7d6d7;

$slidemenu-border = 1px solid #4dc2e9;
$slidemenu-link-bar-height = 44px;

$footer-primary-background = $secondary-color;
$footer-secondary-background = black;
$footer-secondary-color = #5f5d5e;

$email-signup-button-background = #9fd061;

$product-filter-border = 1px solid #d1d1d1;
$product-sortby-color = #7a7879;
$pagination-border = 1px solid #c3c3c3;
$pagination-color = #797979;

$review-star-width = 24px / 2;
$review-star-height = 24px / 2;
$rating-width = ($review-star-width * 5);
$rating-height = $review-star-height;
$rating-color = #141414;

$pdp-controls-background = #f2f2f2;
$pdp-swatch-height = 42px;
$pdp-swatch-color = #888;
$pdp-swatch-divider = #d7d7d7;
$pdp-select-border-color = #bfbfbf;
$pdp-disabled-swatch-background = $pdp-select-border-color;
$pdp-availability-color = $pdp-swatch-color;
$pdp-size-chart-highlight-color = #f5f5f5;

$checkout-breadcrunmb-inactive-color = #c7c7c7;
$content-background-color = #ededed;

$gift-cards-text-color = #B8B8B8;

$brands-alphabet-color = #0ca6dc;

$spacing = 10px;

$alt-button-background-color = #f4f3f3;
$alt-button-text-color = #808080;

$discount-button-color = #e32225;
$discount-button-text-color = #fff;

$border-color = #aaa;
$acct-border = 1px solid #e9e9e9;
