#page.department-brands {
  .static_page_content {
    padding: 0;
  }
  .tgw_pageheading {
    background: transparent;
    color: $font-color;
    padding: 0;
    text-align: center;
    line-height: 1.5;
  }
  #brandsListing #alphabet-button-array {
    background: $content-background-color;
    margin: 0;
    padding: 0 ($spacing/2) $spacing;
    text-align: left;
    a.btn {
      display: inline-block;
      margin: $spacing ($spacing/2) 0;
      padding: 0;
      background: $body-background;
      border: none;
      color: $brands-alphabet-color;
      line-height: $field-height;
      min-width: $field-height;
      text-align: center;
    }
    > select {
      display: none;
    }
  }
  .link-bar {
    font-weight: bold;
  }
  .category-group {
    padding: 0;
    li {
      list-style-type: none;
      width: auto;
      a {
        display: block;
        line-height: $field-height;
      }
    }
  }
}
