body.gift-cards {
  #checkBalanceFormWrap {
    .input-wrap {
      padding-left: 0px;
      padding-top: 20px;
    }
    .label-wrap {
      text-align: left;
    }
    input[type="text"]#pinNumber {
      width: 100%;
    }
    .card-col .column_label:nth-child(2) {
      display: inline-block;
    }
  }
  a#checkBalanceGiftCard {
    margin-top: 19px;
  }
  a#checkBalanceGiftCertificate, a#checkBalanceGiftCard {
    .button_text {
      height: 20px;
      font-size: 10px;
      padding: 0;
    }
  }
  #checkBalanceForm {
    .card-col .tile {
      padding: 7px;
    }

    .cert-col .tile {
      padding: 7px 7px 24px 7px;
    }
  }
  .left_espot {
    text-align: center;
    h1 {
      font-size: 23px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    h2 {
      color: $gift-cards-text-color;
      font-weight: normal;
    }
  }
  div.buy-gift {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 0;
  }
  .title {
    font-family: arial, helvetica, sans-serif;
    font-size: 23px;
    text-align: center;
    padding: 15px 0 10px 0;
    font-weight: bold;
  }
}
