#WC_AccountDisplay_div_1.sign_in_registration {
  .header_return, .header_new {
    background-color: #fff;
    padding: 0px;
    margin: 10px 0;
  }

  .checkbox_label_registration {
    label {
      padding-left: 5px;
    }
  }

  .forgot_password_link_padding {
    margin-top: 3px;
  }

  .button_text {
    font-weight: normal;
    font-size: 1.4rem;
    letter-spacing: 1px;
  }

  .header_new {
    border-top: 1px solid $secondary-color;
    padding-top: 20px;

    .button_align {
      margin-top: 20px;
      text-align: right !important;
    }

    .button_primary {
      width: 130px !important;
      font-weight: normal;
      letter-spacing: 1px;
    }

    p {
      margin-bottom: 10px;
    }

    li {
      margin-bottom: 5px;
    }
  }
}

.my_account {
  margin-top: 5px;

  .main_header {
    border: none !important;
    background: none !important;
    padding: 0px !important;
    text-align: center;
    font-size: 1.8rem !important;
    color: #000 !important;
    margin-bottom: 20px;
  }

  .body {
    padding: 0px !important;
  }

  .myaccount_desc_title {
    display: flex;
    font-size: 1.6rem;
    padding: 0 10px 10px 10px;
    color: #000;
    font-weight: normal;
    border-bottom: 1px solid $secondary-color;


    .sign-out {
      font-size: 1.4rem;
      color: $primary-color;
      text-align: right;
      flex: 2;
      align-self: center;
    }

    .welcome {
      flex: 8;
      align-self: center;
    }
  }

  .myaccount_section_header {
    border: none;
    background: none;
    padding: 0 10px;

    .header {
      padding-left: 0px;
      color: #000;
      font-size: 1.6rem;
    }
  }

  .content, .info_table {
    border: none;
    display: block;
  }

  .info {
    padding: 0px 10px;
    margin-bottom: 10px;

    > p {
      text-align: right;
      font-size: 1.4rem;
    }
  }

  .table-row {
    display: flex;
    margin-bottom: 3px;
  }

  .label {
    border: none;
    background-color: #fff !important;
    flex: 2;
    text-align: right;
    color: $product-sortby-color;
    max-width: 60px;
  }

  .info_content {
    flex: 8;
    padding-left 10px;
  }

}

.my-account-nav {
  margin-bottom: -5px;
  fieldset {
    border: none;
    padding: 0px;
    margin: 0px

    a {
      font-size: 1.4rem;
    }

    li {
      border-bottom: none;
    }
  }

  div[role="button"] {
    background-color: #fff;
    height: 48px;
    line-height: 48px;
    margin: 0px;
    border-bottom: none;
    border-top: 1px solid $secondary-color;
  }

  .arrow {
    margin: 17px 5px 0 0;
  }
}

#WC_UserRegistrationAddForm_div_1 {
  color: #000;

  .title {
    padding: 0px;
  }

  .myaccount-header {
    margin-bottom: 5px;
  }

  h1 {
    font-size: 1.6rem;
    font-weight: bold;
    height: auto !important;
    line-height: 16px !important;
  }

  .align {
    border: none !important;
    padding: 0px !important;
  }

  .provideInfo {
    display: block;
  }

  .required-field {
    display: inline-block;
  }

  .column_label {
    margin-top: 10px;
  }

  .checkedCheckBox {
    margin-bottom: 3px;
  }

  .inputField {
    padding: 0 24px 0 10px;
    width: 100%;
  }

  input[name="phone1"] {
    margin-bottom: 20px;
  }

  select {
    margin-bottom: 10px;
  }

  .button_primary {
    padding: 6px 0px;
  }

  .catalog_checkboxLabel {
    font-size: 1.3rem;
  }

  .button_footer_line {
    margin: 0px;
  }
}

#WC_RegistrationUpdateCommonPage_div_1 {
  margin: 0 10px 10px 10px;
  padding: 0px 20px 0px 0px;

  .content_text {
    display: block;
    margin-bottom: 10px;
  }

  h2 {
    display:none;
  }

  .inputField {
    padding: 0 24px 0 10px;
    width: 100%;
  }

  .checkedCheckBox {
    margin: 0px 0px 3px 10px;
  }

  input[name="phone1"] {
    margin-bottom: 20px;
  }

  .column_label {
    margin-top: 10px;
  }

  select {
    margin-bottom: 10px;
  }
}

.button_footer_line {
  margin: 10px;
  text-align: right;
}

#WC_PasswordResetForm_div_1 {
  color: #000;
  h1 {
    font-size: 1.6rem;
    font-weight: bold;
    height: auto !important;
    line-height: 16px !important;
  }

  .align {
    padding: 0px;
    border: none;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .strongtext {
    display: block;
  }

  .inputField {
    width: 100%;
  }
}

.wishlist-select-container {
  select {
    border: 1px solid $pdp-select-border-color;
    font-size: 1.4rem;
  }
}

.multiple_wishlist_link_divider {
  display: none !important;
}

.multiple_wishlist_actions_border {
  margin-top: 10px;
}

.multiple_wishlist_actions_border {
  margin-top: 5px;
  text-align: left;
  a {
    display: block;
    margin: 10px 0px;
  }

  .headingtext {
    float: none;
  }
}

.my_account_wishlist {
  .body588 {
    border: none !important;
  }

  .subheader_text {
    padding-left: 0px !important;
  }

  .top_pagination {
    border: none;
  }


  #four-grid-wishlist {
    padding: 0px;

    .item {
      float: none;
      display: inline-block;
      width: 48%;
      padding: 10px 0px;
      text-align: center;
    }

    .img {
      width: auto;
    }

    .description_fixedwidth {
      width: auto;
    }

    .button_text {
      padding: 0px;
    }

    .button_primary {
      margin-bottom: 5px;
    }

    .prices-container, .price-save {
      font-size: 14px;
      color: #222;
      text-decoration: none;
      display: block;
    }

    .price {
      min-height: 18px;
      display: block;
      padding: 0px;
    }
  }
}

#wishlist {
  border: none;
  color: #000;
  margin-top: 30px;
  font-size: 1.3rem;

  .header {
    padding: 0px;
  }

  h2 {
    font-size: 1.6rem !important;
  }

  .contents {
    padding: 0px;
  }
}

#shoppingListCreateSuccessPopup, #editShoppingListPopup, #createShoppingListPopup, #deleteShoppingListPopup {
  .dijitDialogPaneContent {
    min-height: 300px !important;
  }

  #editShoppingListPopup_cancel {
    margin-left: 15px;
  }

  .button_primary {
    margin-left: 0px;
  }
}

#shoppingListItemAddedPopup {
  .dijitDialogPaneContent {
    min-height: 380px !important;
  }
}

#orderStatusLookup {
  div#WC_UserRegistrationAddForm_DivForm_1 {
    border: none;
    padding: 10px;

    .findOrderRow label {
      margin-bottom: 2px;
    }
  }

  .checkbox_label_registration {
    margin: 5px 0px 0px 25px;
  }

  #WC_AccountDisplay_div_12 {
    margin-top: 55px;
  }

  p.forgot_password_link_padding {
    margin-top: 5px;
    font-size: 1.3rem;
  }
}

.order_status_table {
  padding: 0px;

  [class*="column"] {
    float: none !important;
    padding: 15px 10px !important;
  }

  .order_number_column_1 {
    width: 14%;
  }

  .total_price_column_1 {
    text-align: left !important;
  }

  &.no-results {
    td {
      padding: 10px;
    }
  }
}

#OrderStatusDetailsDisplayExt_li_header_5 {
  padding-left: 0px;
}

.order_details_my_account {
  .orderNumDate {
    padding: 10px;

    p {
      font-size: 1.3rem;
    }
  }

  .my_account_content_bold {
    font-size: 1.4rem !important;
    color: #000;
  }

  .shipping_address {
    padding: 10px !important;
  }

  .subTotal:before {
    display: none;
  }
}

#initiateReturn {
  .main_header {
    display: none;
  }
}

#order_details {
  tr.nested {
    th {
      color: #000;
    }
  }

  .strong_content, .strong {
    color: #000;
  }

  .total {
    border-right: none !important;
  }

  td, .th_align_left_normal {
    border-bottom: 1px solid $secondary-color;
  }
}

.myaccount_subheader {
  background: #fff;
  border: none;

  #addressId {
    height: 32px;

    .dijitInputField {
      padding-left: 5px;
    }

    .dijitArrowButton:before {
      margin-left: -25px;
    }
  }
}

#addressId_menu {
  font-size: 1.3rem !important;
}

#addr_title {
  padding-left: 10px;

  h2 {
    font-size: 1.3rem;
  }
}

#addressIdRefreshArea {
  fieldset {
    border: none;
    margin: 0px;
  }

  .inputField {
    width: 100%;
    padding: 0px 8px;
  }

  .column_label {
    margin-top: 10px;
  }

  select {
    margin-bottom: 10px;
  }
}

.my-account-breadcrumbs {
  margin-top: 10px !important;
}

.return-msg {
  padding: 5px;
  font-weight: bold;
  border-top: $acct-border;
}

.guestOrderDetail {
  .body {
    .content {
      padding: 0;
    }
  }
}

.order-detail-item {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: $acct-border;
  &:last-of-type {
    margin-bottom: 0;
  }
  &:first-of-type {
    border-top: $acct-border;
  }
  .img-title {
    display: flex;
    margin-bottom: 10px;
    .item-image {
      display: block;
      width: 30%;
    }
    .item-specs {
      display: block;
      width: 70%;
      margin-left: 10px;
      .strong_content {
        font-weight: bold;
      }
    }
  }
  .detail-info {
    ul {
      padding-left: 0;
      list-style-type: none;
      li {
        .tracking-info {
          a {
            color: #1ba8de;
            &:last-of-type {
              display: inline-block;
              margin: 10px 0;
            }
          }
        }
        strong {
          text-transform: capitalize;
          &.date:after {
            content: 'Return Request Date: ';
          }
          &.QTY:after {
            content: 'Quantity: ';
          }
          &.status:after {
            content: 'Status: ';
          }
          &.tracking:after {
            content: 'Tracking: ';
          }
          &.tracking-number:after {
            content: 'Tracking Number: ';
          }
          &.each:after {
            content: 'Each: ';
          }
          &.total:after {
            content: 'Total: ';
          }
        }
        p {
          display: inline-block;
        }
      }
    }
  }
}

.order-detail-sub-total {
  text-align: right;
  font-size: 1.5rem;
  padding-right: 10px;
  .strong {
    color: #000;
  }
}
